section{
    width: 1400px;
    margin: 0 auto;
    
}
*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
/* sart header */

.header{
    background:#ffffff;
    height:10vh;
}
.header-container{
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    padding-top: 20px;
    justify-content: space-between;
}
.logo{
    width:15%;
}
.logo img{
    width: 45%;
 

}
.menu{
    width: 70%;
}
.menu ul{
    display: flex;
    gap: 35px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 20px;
   justify-content: center;
   
}

ul li:hover{
    color: #FF6B00;
}
.btn{
    width:15%;
    display: flex;
    justify-content: end;
}
.btn button{
    background:#FF6B00;
    padding: 10px 25px 10px 25px;
    font-size: 20px;
    border-radius: 10px;
    color: aliceblue;
    border: none;
    cursor: pointer;
    text-align: right;
}
/* end header */


/* sart Hero-section */

.hero-section{
background: #FFF3EA;
width: 100%;
}
.hero-container{
    display: flex;
    flex-flow: row nowrap;
    width: 1400px;
    height: 850px;
    background-color: #FFF3EA;
    margin: 0 auto;
    gap: 40px;
}

.content{
    width: 60%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding-right: 20px;
}


.image{
    width:40%;
}
.content h6{
    font-size: 16px;
    font-weight: 400;
    padding-bottom:20px;
}


.content h1{
    font-size: 70px;
    font-weight:700;
    line-height:95px ;
   
}
.content p{
    font-size: 18px;
    font-weight:400;
    line-height:25px ;
   
}
.hero-btn button{
    background:#FF6B00;
    padding: 10px 25px 10px 25px;
    font-size: 20px;
    border-radius: 10px;
    color: aliceblue;
    border: none;
    cursor: pointer;
    margin-top: 30px;
    
}
/* end Hero-section */

/* sart About-section */
.About-me{
    width: 100%;
    margin-top: 150px;
    }
.About{
    display: flex;
    flex-flow: row nowrap;
    width: 1400px;
    height: 850px;
    margin: 0 auto;
    gap:70px;
    }
.image-1{
        width:40%;
    } 
.content-0{
        width: 60%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        padding-left: 20px;
        margin-top: 150px;
    }
    .content-1 h6{
        font-size: 16px;
        font-weight: 400;
        padding-bottom:15px;
    }
    
    
.content-1 h1{
        font-size: 50px;
        font-weight:700;
        line-height:70px ;
       
    }
.content-1 p{
    font-size: 18px;
    font-weight:400;
    line-height:25px ;
       
    }
 .count{
    width: 100%;
    display: flex;
    gap: 30px;
    margin-top: 30px;
 }  
 
 .process{
    display: flex;
    gap: 15px;
 }
 .exp{
    display: flex;
    gap: 15px;
 }
 span{
    color: #FF6B00;
    font-size: 20px;
    font-weight: 600;
}
.process p{
font-weight:bold;
font-size: 15px;
 }
 .exp p{
    font-weight:bold;
    font-size: 15px;
}
 
/* end About-section */


/* start service-section */

.service-section{
    width: 100%;
    }
.service{
    width: 1400px;
    height: 850px;
    margin: 0 auto;
    }
.service-heading{
    align-items: center;
    text-align: center;
}
.service-heading span{
    color: black;
    font-weight: 400;
    font-size: 16px;
    text-transform: none;
}
.service-heading p{
    font-weight: 700;
    font-size:50px;
    text-transform: uppercase;
}
.grid-service{
    width: 100%;
    align-items: center;
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding-top:80px;
    row-gap: 15px;
    column-gap: 15px;
}
.service-icon-1{
    text-align: center;
    border: 1px solid #FFE2D1;
    padding:20px 10px;
}

.service-icon-1:hover{
    background: #FFE2D1;
    padding: 20px 10px;
}
.service-icon-1 img{
    padding-bottom: 15px;
}
.service-icon-1 p{
    font-size:20px;
    font-weight: 400;
    line-height: 30px;

}
.service-icon-1 span{
    font-size: 24px;
    font-weight: 500;
    color: black;
    text-transform: uppercase;
    display: inline-block;
    padding-bottom: 15px;
}

 /* end service-section */

  /* start experience-section */

 .experience-section{
    width: 100%;
    background: #FFF5EF;
    }
.experience{
    width: 1200px;
    height: 850px;
    margin: 0 auto;
    }
.experience-heading{
    align-items: center;
    text-align: center;
    padding-bottom:50px ;
}
.experience-heading span{
    color: black;
    font-weight: 400;
    font-size: 16px;
    text-transform: none;
}
.experience-heading p{
    font-weight: 700;
    font-size:50px;
    text-transform: uppercase;
}
.education-grid{
    width: 100%;
    align-items: center;
    display: grid;
    grid-template-columns: auto auto  auto;
    padding-top:15px;
    padding-bottom: 15px;
    column-gap: 15px;
    
}
.education-grid p{
    background-color: rgb(255, 255, 255);
    padding: 15px 30px;
     text-align: start;
     font-weight: 400;
     font-size: 16px;
}
.experience-educaation h2{
    font-size: 24px;
    font-weight: 500;

}
.education-grid p span{
    color: black;
    font-weight:bold;
    font-size: 21px;
    display: inline-block;
    padding-bottom: 5px;
    
}
/* end experience-section */

/* start portfolio section */
.my-portfolio{
    width: 100%;
    }
.portfolio{
    width: 1200px;
    height: 1200px;
    margin: 0 auto;
    padding-bottom: 150px;
    margin-top: 150px;
    }
.portfolio-heading{
    align-items: center;
    text-align: center;
    padding-bottom:50px ;
}
.portfolio-heading span{
    color: black;
    font-weight: 400;
    font-size: 16px;
    text-transform: none;
}
.portfolio-heading p{
    font-weight: 700;
    font-size:50px;
    text-transform: uppercase;
}
.portfolio-gallery{
    display: grid;
    grid-template-columns: auto auto auto;
    gap:15px;
}

/* end portfolio section */
/* start feedbak section */
.feedback-section{
    width: 100%;
    }
.feedback{
    width: 1200px;
    height: 450px;
    margin: 0 auto;
    }
.feedback-heading{
    align-items: center;
    text-align: center;
    padding-bottom:50px ;
}
.feedback-heading span{
    color: black;
    font-weight: 400;
    font-size: 16px;
    text-transform: none;
}
.feedback-heading p{
    font-weight: 700;
    font-size:50px;
    text-transform: uppercase;
}
/* end feedbak section */

.client{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
}
.CTO-h{
    display: flex;
    flex-wrap: nowrap;
    gap:20px;
}
.CTO{
    background: #FFF5EF;
    padding: 20px 15px;
}
.CTO:hover{
    background: #FFE2D1;
}
.CTO-h h5{
font-weight:400;
font-size: 16px;
}
.CTO-h h5 span{
    font-weight: bold;
    font-size: 20px;
    color: black;
}
.CTO p{
font-weight:400;
font-size: 16px;
padding-top: 10px;

}
/* start partner section */
.partner-section{
    width: 100%;
    }
.partner{
    width: 1200px;
    height: 400px;
    margin: 0 auto;
    }
.partner-heading{
    align-items: center;
    text-align: center;
    padding-bottom:50px ;
}
.partner-heading span{
    color: black;
    font-weight: 400;
    font-size: 16px;
    text-transform: none;
}
.partner-heading p{
    font-weight: 700;
    font-size:50px;
    text-transform: uppercase;
}
.partner-gallery{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    gap:15px ;
}
.partner-gallery img{
    border: 1px solid #FFE2D1;
    padding: 15px 20px;
}
/* end partner section */

/* start Blog section */

  .Blog-section{
    width: 100%;
    } 
.blog{
    width: 1200px;
    height: 600px;
    margin: 0 auto;
    padding-bottom: 100px;
    }
   
.blog-heading{
    align-items: center;
    text-align: center;
    padding-bottom:50px ;
}
 
.blog-heading span{
    color: black;
    font-weight: 400;
    font-size: 16px;
    text-transform: none;
}
.blog-heading p{
    font-weight: 700;
    font-size:50px;
    text-transform: uppercase;
} 
.Blog-content{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
}
.Blog-img span{
    font-size: 14px;
    font-weight: 300;
    color: rgb(63, 62, 62);
    margin-bottom: 15px;
    display: inline-block;
    padding-left: 30px;
}
.Blog-img h2{
    font-size:20px;
    line-height: 20px;
    padding-left: 30px;

}
.arrow{
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    padding-left: 50px;
}
.arrow a{
    font-size: 18px;
    font-weight: 500;
    color: #FF6B00;
    padding-top: 10px;
}
.Blog-img{
    border: 1px solid #FFE2D1;
    padding-bottom: 30px;
    border-radius: 8px;
}
/* end Blog section */

.contact-section{
    width: 100%;
    } 
.contact{
    width: 1200px;
    height: 600px;
    margin: 0 auto;
    padding-bottom: 100px;
    }
   
.Contact-heading{
    align-items: center;
    text-align: center;
    padding-bottom:50px ;
}
 
.Contact-heading span{
    color: black;
    font-weight: 400;
    font-size: 16px;
    text-transform: none;
}
.Contact-heading p{
    font-weight: 700;
    font-size:50px;
    text-transform: uppercase;
} 